.kyvh{
 text-align: center;
 font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
background-color: black;
 color: cyan;

}
.kyvh p{
  padding-top: 30px;
  padding-bottom: 30px;
  
  
}
*{
  margin: 0;
  padding: 0;
}
.list{
  text-decoration: none;
padding-top: 10px;
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  }
  .list a{
 
  padding: 14px 20px; 
  text-decoration: none;
  color: lightcyan;
  font-family: Arial, Helvetica, sans-serif;
  
  display: block;
  float: left;
    
  }
  .mods{
    
    padding-top:30px;
    background-color: yellowgreen;
    
    padding: 10px 55px;
   }
   .h1{
     text-align: center;
   }

  